DA PROJECT n8n.json
{
  "name": "Data analyst workflow",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "maxRetries": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        288
      ],
      "id": "757ad253-49b5-43c8-8cfe-0251445e6ec8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NeIuzyTxKbE94mDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        720,
        288
      ],
      "id": "aa936922-c32b-4b44-acaf-b28c5cdbe9cb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1c-jrqTjZpLmvfJWaj5oMG53GVqRTX9yO19fvCsmPS70",
          "mode": "list",
          "cachedResultName": "Error_Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-jrqTjZpLmvfJWaj5oMG53GVqRTX9yO19fvCsmPS70/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1019116644,
          "mode": "list",
          "cachedResultName": "Error_Details.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-jrqTjZpLmvfJWaj5oMG53GVqRTX9yO19fvCsmPS70/edit#gid=1019116644"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        880,
        288
      ],
      "id": "27d430dd-6552-407e-bac4-877d2cf00298",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1yDfKyueVTBcWQsL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ahima.kaul1637@gmail.com",
        "subject": "Data Analysis",
        "message": "=<div style=\"font-family: Arial, sans-serif; color: #333;\">\n\n  <h2>📊 Data Analysis Summary</h2>\n\n  <div style=\"background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 6px; padding: 12px 15px; margin-bottom: 20px; font-size: 0.95em; line-height: 1.5;\">\n    {{ $json.message.content }}\n  </div>\n\n  <table cellspacing=\"10\" cellpadding=\"0\" border=\"0\" style=\"width: 100%;\">\n    <tr>\n      <td align=\"center\" valign=\"top\" style=\"width: 33%;\">\n        <h3>📈 Line Chart</h3>\n        <img src=\"{{ $json.chartLineUrl }}\" style=\"max-width: 100%; border: 1px solid #ddd; border-radius: 4px;\">\n      </td>\n      <td align=\"center\" valign=\"top\" style=\"width: 33%;\">\n        <h3>📊 Bar Chart</h3>\n        <img src=\"{{ $json.chartBarUrl }}\" style=\"max-width: 100%; border: 1px solid #ddd; border-radius: 4px;\">\n      </td>\n      <td align=\"center\" valign=\"top\" style=\"width: 33%;\">\n        <h3>🧩 Pie Chart</h3>\n        <img src=\"{{ $json.chartPieUrl }}\" style=\"max-width: 100%; border: 1px solid #ddd; border-radius: 4px;\">\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"font-size: 0.9em; color: #888;\">Generated automatically by your AI analysis assistant 🚀</p>\n\n</div>\n\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1792,
        64
      ],
      "id": "e2d18258-9a38-41f1-84cb-f4bb570f9882",
      "name": "Send a message",
      "webhookId": "03d6f4d7-9ade-4ec8-bfb3-64112a36c179",
      "credentials": {
        "gmailOAuth2": {
          "id": "TUGlipljcQQmU59v",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a data visualization assistant.\n\nThe user will give a request like:\n- \"Show revenue per month as a line chart for 2024\"\n- \"Show number of sold units per product\"\n- \"Give me the sales for region North\"\n\nYour task:\n1. Select the right data filters (like year, product, region) based on the user’s request.\n2. Prepare two arrays: one for labels and one for numeric values.\n3. Always return **only** a valid JSON object (no markdown, no explanations, no code block).\n\nYou must return valid JSON only, without any markdown, prefix, backticks, or extra text.\nExample output:\n{\"labels\": [\"...\"], \"values\": [123, 456]}\n\nDo not include any explanations or formatting.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        592,
        64
      ],
      "id": "1691f9d4-1d7d-405a-81ec-5eb23ee213d5",
      "name": "Data Analyst"
    },
    {
      "parameters": {
        "jsCode": "let rawOutput = items[0].json.output;\n\n\nrawOutput = rawOutput.replace(/```json\\s*|\\s*```/g, '');  \nrawOutput = rawOutput.replace(/^json\\s*/, '');           \n\n\nlet parsed = {};\ntry {\n  const firstParse = JSON.parse(rawOutput);\n  if (typeof firstParse === 'string') {\n    parsed = JSON.parse(firstParse);\n  } else {\n    parsed = firstParse;\n  }\n} catch (err) {\n  throw new Error('Failed to parse AI Agent output as JSON: ' + err.message);\n}\n\n\nreturn [\n  {\n    json: {\n      labels: parsed.labels ?? [],\n      values: parsed.values ?? []\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        64
      ],
      "id": "1cac69f2-e33a-4c70-b57c-d44fd7cdc715",
      "name": "Clean Data"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('When chat message received').item.json.chatInput }}\n{{ $('Data Analyst').item.json.output }}"
            },
            {
              "content": "=You are a professional data analyst assistant.\n\nYou will receive two arrays:\n1️⃣ An array of item labels (e.g. product names)\n2️⃣ An array of numeric values (e.g. sales or profit figures for those products).\n\nYour task is to analyze this dataset and generate a clear, natural-language summary suitable for inclusion in a professional email.\n\nYour summary must:\n- Begin with a general overview of how many items were analyzed and the total and average value\n- Identify and name the highest-performing item and its value\n- Identify and name the lowest-performing item and its value\n- Comment briefly on any noticeable spread, disparity, or distribution in performance\n- Optionally suggest that further review might be needed if there’s a large gap between top and bottom performers\n\nStyle:\n- Professional, polished English\n- 3-5 concise sentences\n- No formatting, markdown, or bullet points — plain text only\n\nExample style:\n\"The dataset includes 4 products, generating a total profit of €33,343.50 and an average of €8,335.88 per item. Widget D delivered the highest profit at €13,362.26, while Widget C contributed the least at €4,303.67. There is a significant performance gap between these products, suggesting that Widget D is a key driver of profitability while Widget C may require closer analysis.\"\n\nDo NOT output JSON or any technical data structures — plain English narrative only.\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1232,
        64
      ],
      "id": "f47c02b9-ce10-4a54-a0b9-a29ba927e40a",
      "name": "Write Report",
      "credentials": {
        "openAiApi": {
          "id": "NeIuzyTxKbE94mDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const labels = $('Clean Data').first().json.labels;\nconst values = $('Clean Data').first().json.values;\n\n// Ensure arrays are valid\nconst cleanedLabels = labels.map(l => String(l));\nconst cleanedValues = values.map(v => Number(v));\n\n// Configs:\nconst configLine = {\n  type: 'line',\n  data: {\n    labels: cleanedLabels,\n    datasets: [{\n      label: 'Amount',\n      data: cleanedValues,\n      borderWidth: 3,\n      pointStyle: 'circle'\n    }]\n  },\n  options: {\n    scales: {\n      y: { beginAtZero: true }\n    }\n  }\n};\n\nconst configBar = {\n  type: 'bar',\n  data: {\n    labels: cleanedLabels,\n    datasets: [{\n      label: 'Amount',\n      data: cleanedValues,\n      borderWidth: 3\n    }]\n  },\n  options: {\n    scales: {\n      y: { beginAtZero: true }\n    }\n  }\n};\n\nconst configPie = {\n  type: 'pie',\n  data: {\n    labels: cleanedLabels,\n    datasets: [{\n      label: 'Amount',\n      data: cleanedValues\n    }]\n  }\n};\n\n// Encode URLs\nconst chartLineUrl = `https://quickchart.io/chart?c=${encodeURIComponent(JSON.stringify(configLine))}`;\nconst chartBarUrl = `https://quickchart.io/chart?c=${encodeURIComponent(JSON.stringify(configBar))}`;\nconst chartPieUrl = `https://quickchart.io/chart?c=${encodeURIComponent(JSON.stringify(configPie))}`;\n\n// Return result\nreturn [{\n  json: {\n    ...items[0].json,\n    chartLineUrl,\n    chartBarUrl,\n    chartPieUrl\n  }\n}];\n\n\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        64
      ],
      "id": "cc472cb1-51a1-4d70-bf3e-cf9bc18fac87",
      "name": "Write HTML"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        400,
        64
      ],
      "id": "0edcf3fc-bcba-472b-9c21-0b647576ba40",
      "name": "When chat message received",
      "webhookId": "85c290ce-bc5d-4ee9-9d7e-ed12c09359d3"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Data Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Data Analyst",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "Data Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data Analyst": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Write Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Report": {
      "main": [
        [
          {
            "node": "Write HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write HTML": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Data Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b336a8e1-e303-4dd9-92c1-6d28fc6f389f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "141d7e2653930fa0cc541003b746c418941ce64a4573e4bb5f4dfa6ebe51a738"
  },
  "id": "Fw0LoYt9zfLf4u8h",
  "tags": []
}